<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="LOGOTIPO-RED-DE-CENTROS-MEDICOS-MARINY.webp" alt="Logo Mariny" />
        <p>Red de Centros Médicos Mariny<br />Nuestro sello es la empatía</p>
      </div>
  
      <div class="footer-links">
        <h4>Enlaces útiles</h4>
        <ul>
          <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/sedes">Ubicaciones</a></li>
          <li><a href="/contacto">Contáctanos</a></li>
        </ul>
      </div>
  
      <div class="footer-contacto">
        <h4>Contáctanos</h4>
        <p>Teléfono: +56 9 2372 7100</p>
        <p>Correo: contactomariny.cl</p>

      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© {{ currentYear }} Mariny. Todos los derechos reservados.</p>
    </div>
  </footer>
  